@import url("reset.mini.css");

body{
    background-color: rgba(153,241,249);
}
h1{
    color: rgb(88, 85, 85);
}

h2{
    color:darkblue;
    font-family: 'Open Sans Condensed', sans-serif;
}
main{
    display:flex;    
}
/* header */

header{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 3em;
}
#logo{
    width: 30vw;
    height: 27vw;
    grid-column-start: 1;
}
#logo_img{
    border-radius: 10%;
    width: 55%;
    margin: 2.5em;  
}
#nom_job{
    grid-column-start: 2;
    margin-top: 4em;
}
header section:nth-child(2){
    width: 40vw;
    margin: auto;
}
header section:nth-child(3){
    width: 30vw;
    margin-block-start: 40px;
}
header section div h1{
    font-size: 3vw;
    font-family: 'Lora', serif;
    text-shadow:4px 2px 2px ;
}
header section div h2{
    font-size: 3vw;
    color: darkblue;
    font-family: 'Lora', serif;
    text-shadow: 2px 2px 2px ;
}
#infos{
    grid-column-start: 3;
    /* margin-block-start: 4vw; */
    color: rgb(112, 105, 105);
    /* font-size: 2vw; */
}
.info_perso{
    font-family: 'Akaya Telivigala', cursive;
    margin-left: 4vw;
    /* margin-block-end: 1em; */
    width: 30vw;
    font-size: 2vw;
}
.info_perso img{
    width: 1em;
}
#motivation{
    grid-row: 2;
    grid-column: 1 / 4;
    place-self: center stretch;
}

#motivation p{
    color: rgb(88, 85, 85);
    font-size: 3vw;
    font-style: italic;
    margin-left: 4vw;
    font-family: 'Bangers', cursive;
    text-shadow: 4px 2px 2px white                        
}

/* block1 */

#block1{
    width: 75%;
    margin: 2vw;
}
#block1 h2{
    font-size: 2.2vw;
    padding: 3vw 3vw 3vw 3vw;
    text-decoration: underline;
}
#block1 h3{
    font-size: 2vw;
    padding: 0px 0px 0px 2em;
}
.ecole{
    color:darkblue;
}
.entreprise{
    color:darkblue;
}
#block1 h4{
    font-size: 1.6vw;
    padding: 0 1.5em 1em 2.5em;
    color: rgb(88, 85, 85);
}
#block1 p{
    font-size: 1.3vw;
    padding: 0 1.5em 1em 3em;
}

/* block2 */

#block2{
    width: 25%;
    display:flex;
    flex-direction: column;
    padding-top: vw
}
#block2 h2{
    font-size: 2vw;
    padding: 3vw 0px 3vw 0px;
}
#block2 ul{
    margin-left: 10px;
    /* margin-right: 110px; */
    font-size: 1.3vw
}

#block2 li{
    margin-top: 10px;
    list-style-type:none;
}

.rectangle{
    background-color: mediumblue;
    height: 1vw;
    width: 11em;
    margin-top: .5em;

}
.rectangle2{
    background-color: grey;
    width: 11em;
}
.rectangle3{
    background-color: grey;
    width: 11em;
}
.rectangle2 .rectangle{
    /* background-color: grey; */
    height: 1vw;
    width: 5.5em;
}
.rectangle3 .rectangle{
     /* background-color: grey; */
     height: 1vw;
     width: 7.4em;
}

/* formulaire */
footer{
    padding: 40px;
}

footer > form{
    /* centrer le formulaire */
    margin: 0 auto;
    width: 420px;
    /* voir limite formulaire */
    padding: 1em;
    border: 4px solid rgb(21, 31, 177);
    border-radius: 1em;
    position: relative;
}

form h2{
    position:absolute;
    top: -11px;
    background: rgb(153,241,249);
}

form div + div{
    margin-top: 1em;    
}

div > label {
    /* alignement et taille étiquettes */
    display: inline-block;
    width: 70px;
}

div > input,textarea{
    /* même police pour tous les champs text */
    font: 1em sans-serif ;
    /* même dimension champs text */
    width: 300px;
    box-sizing: border-box;
    /* harmoniser les bordures champs text */
    border: 4px solid rgb(21, 31, 177);
}

input:focus, textarea:focus{
    /* souligner les éléments actifs */
    border-color: firebrick;
}

textarea{
    /* aligner le champs texte avec les étiquettes */
    vertical-align: top;
    /* donner assez de la place pour écrire le texte */
    height: 10em;
}

.bouton{
    /* placer le bouton a la même position que le champ texte */
    padding-left: 90px;
}

button{
    margin-left: .5em;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 11px;
}

@media screen and (max-width:1100px){
    main{
        display: block;
    }
    #block1{
        width: 100%;
    }
    #block2{
        width: 100%;
        margin-left: 10vw;
        display:grid; 
        grid-template-columns: repeat(2,1fr); 
    }
} 
